{% extends "base.html" %}

{% block content %}


    <style>
        video {
            height: 50%;
            width: 50%;
        }
    </style>

    <a href=../folder/{{ folder_uri }} class="btn btn-primary">Back</a>
    <h3 id="videoPath">{{ video_path }}</h3>

    <video id="video" controls width="640" height="480" autoplay>
        <source
            src="{{url_for('static', filename=video_path)}}" 
            type="video/mp4"
        >
        Your browser does not support the video tag.
    </video>
    <br/>
    <button onclick="prev()" type="button" class="btn btn-primary">Prev</button>   
    <button onclick="next()" type="button" class="btn btn-primary">Next</button>
    <div class="w-50 p-3">
    <select id="fileSelectList" class="form-select" size="10" aria-label="size 3 select example" disabled>
        {% for file in files %}
        <option value={{ loop.index0 }}>{{ file.name }}</option>
        {% endfor %}
    </select>
    </div>

    <script>
        let idx = {{ index |tojson }}
        console.log("idx=" + idx)
        document.getElementById('fileSelectList')[idx].selected="selected"
        video = document.getElementsByTagName('video')[0]
        const filesList = {{ files |tojson }}
        //console.log(filesList)

        next = () => {
            idx = idx + 1
            if (idx>=filesList.length) {
                idx = 0
            }
            play()

        }
        prev = () => {
            idx = idx - 1
            if (idx<0) {
                idx = filesList.length-1
            }
            play()
        }
        play = () => {
            console.log("new idx=" + idx)
            document.getElementById('fileSelectList')[idx].selected="selected"
            const playPath = filesList[idx].uri
            console.log("playPath: " + playPath)
            const els = playPath.split("/")
            fileName = els.pop()
            console.log("fileName:" + fileName)
            document.getElementById('videoPath').innerHTML=fileName
            video.src = playPath
            video.load()
        }
        video.addEventListener('ended', next, false)
    </script>

{% endblock %}
