{% extends "base.html" %}

{% block content %}

    <h2>Playing {{ video_path }}</h2>
<!--
    <style>
        video {
            height: 80%;
            width: 80%;
            object-fit: fill; 
            position: absolute;
        }
    </style>
-->

    <video controls width="640" height="480" autoplay>
        <source
            src="{{url_for('static', filename=video_path)}}" 
            type="video/mp4"
        >
        Your browser does not support the video tag.
    </video>

{% endblock %}
